Create Data Frame using pandas

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(columns=['StudentID', 'Study_Hours', 'Attendance', 'Internal_Marks', 'Final_Marks'])

df['StudentID'] = [101, 102, 103, 104, 105]
df['Study_Hours'] = [2, 4, 6, 8, 10]
df['Attendance'] = [75, 80, 85, 90, 95]
df['Internal_Marks'] = [18, 22, 26, 30, 35]
df['Final_Marks'] = [45, 55, 65, 75, 88]

print(df)

   StudentID  Study_Hours  Attendance  Internal_Marks  Final_Marks
0        101            2          75              18           45
1        102            4          80              22           55
2        103            6          85              26           65
3        104            8          90              30           75
4        105           10          95              35           88

Print first 3 Rows

In [2]:
df.head(3)

   StudentID  Study_Hours  Attendance  Internal_Marks  Final_Marks
0        101            2          75              18           45
1        102            4          80              22           55
2        103            6          85              26           65

Print last 2 Rows

In [3]:
df.tail(2)

   StudentID  Study_Hours  Attendance  Internal_Marks  Final_Marks
3        104            8          90              30           75
4        105           10          95              35           88

Mean of Study Hours

In [7]:
print(df['Study_Hours'].mean())

6.0

Mean of Attendance

In [8]:
print(df['Attendance'].mean())

85.0

Mean of Final Marks

In [9]:
print(df['Final_Marks'].mean())

65.6

Minimum and Maximum of Final Marks

In [10]:
print(df['Final_Marks'].max())
print(df['Final_Marks'].min())

88
45

Adding a new Performance column

In [12]:
df['Performance_Level'] = [1, 2, 3, 4, 5]
df

,StudentID,Study_Hours,Attendance,Internal_Marks,Final_Marks,Performance_Level
0,101,2,75,18,45,1
1,102,4,80,22,55,2
2,103,6,85,26,65,3
3,104,8,90,30,75,4
4,105,10,95,35,88,5

Checking Result

In [15]:
for i in range(0, 5):
    if(df['Final_Marks'][i] >= 80):
        print("Excellent")
    elif(df['Final_Marks'][i] >= 60 and (df['Final_Marks'][i] <= 79)):
        print("Good")
    else:
        print("Need Improvment")

Need Improvment
Need Improvment
Good
Good
Excellent

Ascending Sort

In [ ]:
df.sort_values(ascending = True, by = 'Final_Marks')

,StudentID,Study_Hours,Attendance,Internal_Marks,Final_Marks,Performance_Level
4,105,10,95,35,88,5
3,104,8,90,30,75,4
2,103,6,85,26,65,3
1,102,4,80,22,55,2
0,101,2,75,18,45,1

Check Study Hours And Attendance

In [24]:
for i in range(0,5):
    if(df['Study_Hours'][i] >= 5 and (df['Attendance'][i]) >= 85):
        print(df['StudentID'][i])

103
104
105

Correlation of Study Hours and Final Marks

In [27]:
df['Study_Hours'].corr(df['Final_Marks'])

np.float64(0.9984018457335851)